/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upcoming {
  margin-right: 10px;
  display: inline-block;
}

.upcomingText {
  position: relative;
  bottom: 2px;
  background:  orange;
  font-size: 12px;
  display: block;
  color: white;
  text-transform: uppercase;
  padding: 6px;
  font-weight: normal;
  border-radius: 10px;
}

.logo {
  width: 60px;
  margin: 0 20px;
  height: auto;
}
.heroTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}
